html, body {
    height:100%;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
}
body {
    font-family: "Lucida Console", Monaco, monospace;
    background:#FAF2F8;
    border-width:0px;   
    border-style:none;
}
.wrapper {
    display:-webkit-flex;
    display:flex;
    position: relative;
}
.container {
    font-family: "Lucida Console", Monaco, monospace;
    flex-direction: column;*/
    justify-content: flex-start;
    height: 100%;
    width:21%;
}
.intro {
    background-color: #E2D9D8;    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

}
.sidebar {
    background-color: #FFDCD8;
    padding-left: 2px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.main {
    font-family: Arial, Helvetica, sans-serif;
    width:74%;
    flex-direction:row;
    justify-content:flex-end;
    align-items:flex-start;
    padding-left: 10px;
    padding-right: 10px;

}

